.card-section__title {
    color: #1F1F1F;
    font-family: 'Cabin', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    padding-bottom: 23px;
    border-bottom: 1px solid #A8A8A8;
    grid-column: 1/5;
}