.header {
    position: fixed;
    width: 100%;
    z-index: 2;
}

.header-blue {
    background-color: #10bbd5;
    height: 72px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.container {
    display: flex;
    width: 1296px;
    margin-left: auto;
    margin-right: auto;
}

.logo-link {
    display: flex;
    align-items: center;
    gap: 4px;
}

.logo-text {
    color: #f8fdfe;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header-blue-text {
    color: #f8fdfe;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-left: 1061px;
    margin-right: 8px;
}

.theme {
    color: #f8fdfe;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    height: 45px;
    width: 80px;
    border-radius: 4px;
    background: var(--eggplant, #4c394e);
    text-align: center;
    position: fixed;
    left: 0px;
}

.button-cart {
    width: 34px;
    height: 34px;
    background: url(../img/cart.svg) no-repeat;
    padding-left: 16px;
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.header-white {
    background: #fff;
    padding-top: 4px;
    padding-bottom: 4px;
}

.header-white-text {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.header-white-list {
    display: flex;
    margin-left: 883px;
    gap: 40px;
}

.main {
    background: var(--beige, #eeeeef);
    padding-top: 132px;
    padding-bottom: 120px;
}

.button-chat {
    position: fixed;
    right: 28px;
    top: 696px;
}

.main-container {
    display: block;
}

.page-name {
    color: #1f1f1f;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 23px;
}

.main-flex {
    border-top: 1px solid #a8a8a8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 24px;
}

.offer {
    width: 306px;
    height: 512px;
    padding: 32px;
}

.offer-link {
    position: relative;
}

.book-img {
    margin-left: 32px;
    margin-bottom: 16px;
}

.hit {
    position: absolute;
    top: -282px;
    left: 0px;
    color: #f8fdfe;
    width: 36px;
    height: 32px;
    padding: 4px 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    border-radius: 4px;
    background: #4200ff;
}

.new {
    position: absolute;
    top: -282px;
    left: 0px;
    color: #f8fdfe;
    width: 47px;
    height: 32px;
    padding: 4px 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    border-radius: 4px;
    background: #af39e7;
}

.percent {
    position: absolute;
    top: -282px;
    color: #f8fdfe;
    width: 68px;
    height: 32px;
    padding: 4px 8px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    border-radius: 4px;
    background: #ea33c0;
}

.percent-new {
    left: 51px;
}

.persent-hit {
    left: 40px;
}

.book-name {
    overflow: hidden;
    color: var(--black, #1f1f1f);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.author {
    overflow: hidden;
    color: var(--gray, #8e8e8e);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 8px;
    border-top: 1px solid #a8a8a8;
}

.price {
    display: flex;
    gap: 24px;
}

.current-price {
    color: #e90000;
    font-family: Cabin;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 16px;
}

.past-price {
    color: var(--gray, #8e8e8e);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    text-decoration: line-through;
}

.main-button {
    width: 242px;
    height: 40px;
    border-radius: 4px;
    background: var(--eggplant, #4c394e);
    color: var(--white, #f8fdfe);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.main-button-green {
    background: #4d762d;
}

.footer {
    background-color: var(--eggplant, #4c394e);
    padding-top: 32px;
    padding-bottom: 32px;
}

.footer-container {
    justify-content: space-between;
}

.footer-text {
    color: var(--white, #f8fdfe);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
