.page-header {
    background: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);
    width: 100%;
    position: fixed;
    z-index: 5;
}

.page-header__container {
    display: flex;
    padding-top: 48px;
    padding-bottom: 48px;
    justify-content: space-between;
    align-items: center;
    
}

.nav-menu__list {
    display: flex;
    gap: 20px;

    @media (max-width: 850px) {
        display: none;
    }
}

.nav-menu__link {
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px; 
    color: #FFF;
    border-radius: 20px;
    border: 1px solid #FFF; 
}

.nav-menu__burger-btn {
    display: none;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 12px; 
    border-radius: 20px;
    border: 2px solid #FFF; 
    @media (max-width: 850px) {
        display: flex;
    }
}