.container {
    margin-left: 191px;
    margin-right: 191px;

    @media (max-width: 1640px) {
        margin-left: 100px;
        margin-right: 100px;
    }

    @media (max-width: 1200px) {
        margin-left: 34px;
        margin-right: 34px;
    }

    @media (max-width: 610px) {
        margin-left: 17px;
        margin-right: 17px;
    }
}

.main-container {
    display: grid;
    justify-content: center;
    @media (max-width:760px) {
        margin-left: 31px;
        margin-right: 31px;
    }

    @media (max-width:620px) {
        margin-left: 20px;
        margin-right: 20px;
    }
}