.section-inroduce {
    background: #202020;
    height: 470px;
    position: relative;
}

.section-inroduce__card-container {
    width: 540px;
    padding-top: 101px;
    padding-bottom: 102px;

    @media (max-width: 702px) {
        width: 450px;
    }

    @media (max-width: 699px) {
            padding-top: 72px;
        }

    @media (max-width: 574px) {
        width: 400px;
    }

    @media (max-width: 513px) {
        width: 350px;
    }
}

.section-inroduce__meeting {
    color: #FAEB49;
    font-family: DynaPuff;
    font-size: 48px;
    font-weight: 700; 

    @media (max-width: 586px) {
        font-size: 36px;
    }
}

.section-inroduce__descr {
    color: #FFF;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    margin-top: 40px;

    @media (max-width: 586px) {
        width: 342px;
        font-size: 15px; 
}

    @media (max-width: 478px) {
        width: 300px;
    }
}

.section-inroduce__information {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;


    @media (max-width: 476px) {
        width: 311px;
    }

    @media (max-width:409px) {
        width: 311px;
    }
}

.section-inroduce__number {
    color: #FFF;
    font-family: DynaPuff;
    font-size: 48px;
    font-weight: 700;

    @media (max-width: 586px) {
        font-size: 36px;   
 } 
}

.section-inroduce__career {
    color: #FFF;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 700;

    @media (max-width: 586px) {
        font-size: 16px;  
 } 
}

.section-introduce__design {
    position: absolute;
    left: 83%;
    bottom: 5%;

    @media (max-width: 699px) {
        width: 256px;
        height: 400px;
  }

  @media (max-width: 476px) {
    bottom: 16%;
        height: 262px;
        width: 205px; 
    }

    @media (max-width:409px) {
        bottom: 16%;
        height: 262px;
        width: 205px;
    }

}