.title-section {
    background: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);
}

.title-section__title-block {
    padding-top: 505px;
    padding-bottom: 119px;

    @media (max-width: 923px) {
        padding-top: 283px;
        padding-bottom: 130px;
    }

    @media (max-width: 460px) {
        padding-top: 433px;
        padding-bottom: 149px;
    }
}

.title-section__title {
    color: #FFF;
    font-family: DynaPuff;
    font-size: 80px;
    font-weight: 700;

    @media (max-width: 586px) {
        font-size: 48px;
    }
}