.your-new-project {
    background: #202020; 
    padding-top: 78px;
    padding-bottom: 30px;
}

.offer-block {
    margin-left: auto;
    margin-right: auto;
    width: 933px;
    border-radius: 139px;  
    border: 1px solid  #F2F2F2; 
    @media (max-width: 989px) {
        width: 647px;
    }

    @media (max-width: 705px) {
        width: 520px;
    }

    @media (max-width: 556px) {
        width: 398px;
    }

    @media (max-width: 431px) {
        width: 334px;
    }
}

.your-new-project__call-link {
    padding: 42px 137px;
    display: flex;
    gap: 45px;
    align-items: center;
    justify-content: center;
    
    @media (max-width: 1015px) {
        padding: 42px 100px;
    }

    @media (max-width: 989px) {
        gap: 35px;
        padding: 42px 100px;
    }

    @media (max-width: 989px) {
        gap: 35px;
        padding: 42px 100px;
    }

    @media (max-width: 705px) {
        gap: 30px;
        padding: 42px 60px;
    }

    @media (max-width: 556px) {
        width: 462px;
    }

    @media (max-width: 431px) {
        padding: 42px 45px;
    }
}

.logo-link {
    @media (max-width: 556px) {
        width: 52px;
        height: 51px;
    }
}

.call-offer {
    display: flex;
    align-items: center;
    gap: 24px;
    @media (max-width: 989px) {
        font-size: 24px;
        text-align: left;
        width: 260px;
    }
}

.your-new-project__question {
    color: #FFF;
    text-align: center;
    font-family: DynaPuff;
    font-size: 48px;
    font-weight: 700; 

    @media (max-width: 989px) {
        font-size: 46px;
        text-align: left;
        width: 300px;
    }

    @media (max-width: 711px) {
        font-size: 40px;
        text-align: left;
        width: 300px;
    }

    @media (max-width: 705px) {
        font-size: 30px;
        width: 236px;
    }

    @media (max-width: 556px) {
        font-size: 24px;
        width: 191px;
    }

    @media (max-width: 431px) {
        font-size: 20px;
        width: 145px;
    }
}

.arrow {
    @media (max-width: 431px) {
        width: 32px;
        height: 16px;
    }
}

.your-new-project__offer {
    color: #FFF;
    text-align: center;
    font-family: Manrope;
    font-size: 24px;
    font-weight: 500; 
    @media (max-width: 556px) {
        font-size: 15px;
        width: 105px;
    }
}

.footer-page-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 34px;
    margin-top: 163px;
}

.copyright {
    color: #FFF;
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    margin-top: 21px;
}